In [7]:
import pandas as pd
import numpy as np
import pickle

In [8]:
meta = pd.read_csv("yelpnyc/metadata.csv")
meta

        Reviewer_id  Product_id2  Rating  Label       Date
0               923            0       3     -1  12/8/2014
1               924            0       3     -1  5/16/2013
2               925            0       4     -1   7/1/2013
3               926            0       4     -1  7/28/2011
4               927            0       4     -1  11/1/2010
...             ...          ...     ...    ...        ...
359047       161146          349       5      1   2/6/2014
359048       116424          349       5      1  1/31/2014
359049       161147          349       5      1  1/30/2014
359050        97930          349       5      1  1/25/2014
359051         5260          349       5      1  1/25/2014

[359052 rows x 5 columns]

In [9]:
labelsraw = meta['Label'].to_numpy()

def change(x):
    if x==-1:
        return 1
    return 0
    
labels = np.vectorize(change)(labelsraw)
print(labels)

[1 1 1 ... 0 0 0]

In [10]:
with open("labels.pickle", "wb") as file:
    pickle.dump(labels, file)