### Import necessary modules

In [7]:
import pandas as pd
import numpy as np
import pickle

### Import metadata CSV

In [11]:
meta = pd.read_csv("yelpnyc/metadata.csv")
meta

        Reviewer_id  Product_id2  Rating  Label       Date
0               923            0       3     -1  12/8/2014
1               924            0       3     -1  5/16/2013
2               925            0       4     -1   7/1/2013
3               926            0       4     -1  7/28/2011
4               927            0       4     -1  11/1/2010
...             ...          ...     ...    ...        ...
359047       161146          349       5      1   2/6/2014
359048       116424          349       5      1  1/31/2014
359049       161147          349       5      1  1/30/2014
359050        97930          349       5      1  1/25/2014
359051         5260          349       5      1  1/25/2014

[359052 rows x 5 columns]

### Number of unique reviewers in the dataset

In [24]:
print(len(meta['Reviewer_id'].unique()))

160225

### Create nparray with values 1 if fraud and 0 if benign

In [38]:
# Group the DataFrame by 'user_id' and check if there's any -1 label for each user
grouped = meta.groupby('Reviewer_id')['Label'].apply(lambda x: 1 if -1 in x.values else 0)

# Reset the index to make the user_id a column again
labels = grouped.reset_index()['Label'].to_numpy()

print(labels)

[1 1 1 ... 0 0 0]

### Create pickled file to submit to DeepFD

In [33]:
with open("labels.pkl", "wb") as file:
    pickle.dump(labels, file)