In [28]:
from pathlib import Path
from dataloader import DataLoader

In [2]:
pwd = %pwd
CONFIGS_PATH = Path(pwd).parent / "configs"
DATASET_CONFIG = CONFIGS_PATH / "datasets.json"

In [3]:
loader = DataLoader(DATASET_CONFIG)
dataset = loader.load_dataset("yelpnyc")

In [4]:
dataset.metadata_df

        Reviewer_id  Product_id  Rating  Label       Date
0               923           0       3     -1 2014-12-08
1               924           0       3     -1 2013-05-16
2               925           0       4     -1 2013-07-01
3               926           0       4     -1 2011-07-28
4               927           0       4     -1 2010-11-01
...             ...         ...     ...    ...        ...
359047       161146         349       5      1 2014-02-06
359048       116424         349       5      1 2014-01-31
359049       161147         349       5      1 2014-01-30
359050        97930         349       5      1 2014-01-25
359051         5260         349       5      1 2014-01-25

[359052 rows x 5 columns]

In [5]:
print(f"{dataset.n_users} users")
print(f"{dataset.m_items} items")
print(f"{dataset.n_interactions} ratings")

160225 users
923 items
359052 ratings

In [6]:
# Access dates (they are formatted as python datetime objects instead of strings)
dataset.metadata_df[dataset.METADATA_DATE]

0        2014-12-08
1        2013-05-16
2        2013-07-01
3        2011-07-28
4        2010-11-01
            ...
359047   2014-02-06
359048   2014-01-31
359049   2014-01-30
359050   2014-01-25
359051   2014-01-25
Name: Date, Length: 359052, dtype: datetime64[ns]

In [44]:
first_date = dataset.metadata_df.groupby(dataset.METADATA_USER_ID)[dataset.METADATA_DATE].min()
last_date = dataset.metadata_df.groupby(dataset.METADATA_USER_ID)[dataset.METADATA_DATE].max()

print(last_date.values)
print(first_date.values)
print((last_date.values- first_date.values).astype('timedelta64[D]'))

['2014-12-08T00:00:00.000000000' '2013-05-16T00:00:00.000000000'
 '2013-07-01T00:00:00.000000000' ... '2014-02-09T00:00:00.000000000'
 '2014-02-06T00:00:00.000000000' '2014-01-30T00:00:00.000000000']
['2013-11-04T00:00:00.000000000' '2013-05-16T00:00:00.000000000'
 '2013-07-01T00:00:00.000000000' ... '2014-02-09T00:00:00.000000000'
 '2014-02-06T00:00:00.000000000' '2014-01-30T00:00:00.000000000']
[399   0   0 ...   0   0   0]

In [22]:
avg_ratings = dataset.metadata_df.groupby(dataset.METADATA_ITEM_ID)[dataset.METADATA_STAR_RATING].mean()

print(avg_ratings.values)

[4.00952381 4.32806324 3.84337349 4.16949153 4.03290676 4.37209302
 4.2007874  3.75184638 3.87654321 3.84269663 4.47389558 4.
 3.72781065 4.02247191 3.90825688 3.93902439 3.97309417 4.13768116
 3.91987179 4.0371517  4.3220339  4.36666667 4.23404255 4.19594595
 4.         4.07692308 4.43693694 3.81920904 3.5785124  3.9537037
 4.4375     4.43548387 3.90086207 4.17640449 4.10909091 4.20289855
 3.99361022 4.02380952 3.80697051 3.70758929 4.31286895 4.14643545
 3.70588235 3.80036134 3.9318542  3.79487179 4.04968944 4.23684211
 3.985      4.73529412 4.35171386 3.80042017 3.9679098  4.31333333
 3.69760479 4.4251497  4.02531646 3.91726619 4.64102564 4.22891566
 4.38383838 4.43209877 4.26351931 3.9371808  4.16296296 4.42248062
 4.54678899 4.03278689 4.         3.94029851 3.91563275 3.92213115
 3.96598866 4.25185185 4.06349206 4.11428571 4.11428571 3.92026578
 3.96369048 4.28       4.         4.29957806 3.57571324 4.19939577
 4.2037037  4.04285714 4.575      3.83505155 4.03676471 2.9841629
 3.88       4.15759129 4.22222222 3.79109589 4.81818182 4.03247373
 4.06378378 4.05531915 4.33333333 4.27586207 3.95181173 4.54137931
 4.44339623 4.42446043 4.04958678 4.5        4.39240506 3.9133574
 4.27058824 4.26633166 3.73669065 4.14285714 4.34090909 3.79545455
 3.7137931  3.98122066 3.90816327 4.3442623  4.03614458 3.89777778
 4.47389762 4.08263305 4.62626263 4.16923077 4.475      4.80645161
 3.92913386 4.08484848 4.05       4.31111111 4.52380952 4.1554664
 4.64705882 4.08526188 4.2486631  4.0615942  4.37254902 3.82969432
 4.04142012 4.5505618  3.34459459 3.81333333 3.9        4.59574468
 4.12244898 4.40298507 3.7251462  3.74666667 4.60377358 3.96956522
 4.26694915 4.38888889 4.12105263 3.81632653 3.90184049 4.07142857
 4.41666667 3.86259542 4.76923077 4.875      4.26797386 4.3220339
 3.84356436 4.10447761 3.80967742 4.53731343 4.03875969 3.83333333
 3.89808917 3.97619048 3.90785908 4.43902439 4.33333333 4.16334661
 4.21641791 4.33225458 3.93023256 3.88064516 3.88414634 4.42857143
 3.96428571 3.82022472 4.40506329 4.55223881 4.06896552 4.07075472
 3.73783784 3.91176471 4.52727273 4.24193548 3.98237885 4.50920245
 3.88910891 4.26337449 3.93452381 4.18348624 4.23       4.26966292
 3.83756345 4.575      4.13207547 4.3        3.9795022  4.41919192
 3.88579387 4.13513514 4.33802817 4.29100529 4.37704918 3.92241379
 4.82608696 3.89188244 3.89574468 4.15841584 3.99159664 3.99077734
 4.65217391 4.46153846 4.3255814  4.19444444 4.15329949 3.92344498
 4.41856061 4.56976744 4.17847025 4.5        4.33333333 4.09441233
 4.08139535 4.36842105 4.01257862 4.2483871  4.27272727 4.47619048
 3.80887372 4.         4.21276596 3.79900332 4.14285714 4.01492537
 4.28740157 4.61904762 4.4137931  3.91476091 3.95594714 4.26859504
 4.20588235 4.07359718 3.94444444 4.09756098 4.30982368 3.86423119
 3.99090909 3.896875   4.2983871  4.06564551 3.97666667 3.6639478
 3.803649   3.94594595 3.86029412 3.78300181 3.93055556 4.14824561
 3.90449438 4.43137255 4.1388102  4.         4.15819209 4.38709677
 3.93665158 3.7704918  4.28169014 3.92098765 4.24089069 3.88546256
 3.83859649 4.25882353 3.90342052 4.20408163 4.30065359 4.41414141
 4.35309278 3.71676301 3.87649402 3.96575342 3.84644195 4.33222591
 3.78534031 4.43197279 4.44615385 4.02427184 3.99016393 4.7037037
 3.82191781 4.13128039 4.01948052 4.46875    4.24427481 3.7972973
 4.13691932 4.02739726 4.15437561 4.01612903 3.87850467 4.32512315
 3.76234568 4.20666667 3.78922439 3.82211538 3.96618357 4.65
 3.933213   4.30769231 3.79411765 4.21153846 3.62204724 4.31174089
 4.26785714 3.88333333 3.9442623  4.4021164  4.53383459 4.24427481
 4.22702703 4.21276596 3.92156863 4.67857143 3.92028986 4.30487805
 3.92105263 3.88095238 4.62264151 3.96637609 4.36123348 3.81395349
 3.96296296 4.21491228 3.82379863 3.9845679  4.67346939 4.39622642
 3.97237569 4.00353357 4.64044944 3.94329897 3.98       4.58474576
 4.1369863  4.18518519 4.09333333 3.93256262 3.78962536 4.32904884
 4.08108108 4.53846154 3.93859649 4.01960784 3.71609403 4.02247191
 4.38636364 4.31045752 4.00823045 3.99036145 3.84657534 4.3030303
 4.04401914 4.54411765 3.90540541 4.38554217 4.37804878 4.04015296
 3.81889764 4.359447   4.328125   3.86588235 4.30424528 3.82608696
 4.28938907 4.18731118 3.91114058 4.38461538 3.94387755 3.88286713
 4.36842105 4.54054054 3.84120172 4.56060606 4.59459459 3.86842105
 4.875      3.7985348  3.96721311 4.4        4.51428571 4.71875
 4.02929688 4.58333333 4.18896321 3.9379562  4.10669078 3.84562212
 4.05439331 4.11851852 3.84179104 4.01546961 3.72670807 4.20289855
 4.08421053 4.23728814 3.92248722 3.80645161 4.35904831 3.77247191
 4.01352531 4.47826087 3.76729272 3.99298597 4.66666667 3.82727273
 4.17100977 4.31       3.84872299 4.15062762 4.375      3.73529412
 4.2972973  4.09302326 3.92       4.17241379 4.64       4.38554217
 4.90909091 4.12810707 4.50746269 3.9893617  3.97777778 4.57142857
 3.93661972 3.92542017 3.85125448 4.32       3.77094972 4.66666667
 3.7971831  3.7173913  4.30434783 4.07058824 4.11479029 3.39655172
 4.29927007 3.88349515 3.90232558 3.77346278 3.51575533 4.12878788
 4.15837104 3.80782918 3.83863636 4.01030928 3.94594595 4.10526316
 4.13194444 3.89212828 4.04       3.74631793 4.07065217 4.04357542
 3.80178174 3.91935484 3.8118701  3.80208333 4.62626263 4.31320755
 3.82300885 3.84705882 4.68141593 3.94509804 4.31818182 4.19277108
 3.83574879 4.12121212 3.82750583 3.90421456 3.95755694 4.572
 3.9655857  4.59090909 3.86127168 3.98622047 4.31325301 4.06060606
 4.12285012 4.13475177 4.05035971 4.13669065 3.84246575 4.21276596
 4.06375839 4.01807229 4.26666667 4.29310345 4.04901961 4.42245989
 4.73333333 4.38641686 4.77142857 3.76679842 3.87183544 4.09578544
 4.03515625 4.02293578 4.62820513 4.69565217 3.8787234  4.00288184
 4.09395973 4.32258065 4.03225806 3.81300813 4.012      4.12789575
 4.55102041 4.26086957 4.13528139 4.15827338 4.00473934 4.16062176
 4.30168776 4.3258427  4.76315789 4.140625   3.975      4.26839827
 3.921875   4.18181818 3.87234043 4.3315508  3.76363636 4.25263158
 3.89877836 4.3        3.94465649 3.95789474 4.10649351 4.33673469
 4.94444444 3.9955157  3.9789864  3.94363257 3.94202899 3.92592593
 3.84415584 4.20338983 3.71333333 4.29930639 4.31168831 4.13235294
 4.38764045 4.08521303 3.85472973 3.9527897  4.29032258 4.38497653
 4.31225806 4.58064516 3.89897959 3.85245902 4.67647059 3.97115385
 4.27380952 4.49090909 3.63190184 4.03805497 4.29411765 4.135
 4.13294798 3.94427245 4.38       4.00890208 3.83707865 4.25806452
 4.17977528 4.19266055 4.26436782 4.07349081 4.11392405 4.37078652
 4.16666667 4.00484765 4.1047619  4.22178988 4.29906542 4.22580645
 3.86585366 3.82517483 3.68954248 4.31343284 3.86666667 3.92537313
 4.50857143 4.1239861  3.97512438 4.37508556 4.33714511 4.04511278
 3.80829016 4.42067736 3.89672131 4.27631579 3.95714286 4.734375
 3.87903226 3.99457995 3.97297297 4.54166667 4.18259629 4.06373626
 3.66079295 3.94214876 4.32384342 4.02108768 4.23012552 3.83760684
 4.05790646 4.18204698 4.78333333 3.875      3.83261803 3.92758089
 3.95543175 4.03652968 4.00289855 4.016      4.32512315 4.18390805
 4.42028986 3.80211082 4.01666667 4.32525952 4.29473684 3.84349969
 4.23913043 3.78714859 4.03278689 4.33050847 4.01818182 4.53488372
 4.54545455 4.3706177  3.82061069 3.89189189 4.15686275 4.10251046
 4.03093923 4.09848485 3.76497696 3.89673913 4.15242494 3.75849732
 3.84864865 4.43454936 4.08405439 4.28       4.16386555 3.93589744
 3.97110754 4.14666667 3.72001359 3.95546559 4.09433962 3.85514019
 4.01634473 4.28767123 4.16438356 4.1754386  3.97643098 4.07808564
 4.27722772 4.38596491 4.42352941 4.25806452 4.36538462 4.625
 4.18832685 3.90980392 4.25447316 4.58333333 3.98473282 3.80124224
 3.83727811 4.02392344 3.95023697 4.11290323 4.88235294 4.90769231
 4.50777202 4.36477987 3.93333333 3.79670862 3.91752577 3.77399381
 3.76645435 4.51006711 4.67346939 4.67741935 4.00856531 3.88073394
 3.97886029 3.82580645 4.33830846 4.20822622 4.40322581 3.89078498
 4.43571429 3.95454545 4.21428571 3.94379391 4.29562044 3.96360153
 4.63636364 4.33990148 3.77680141 3.93153678 3.71175166 3.86136784
 3.73333333 4.13717532 4.21917808 4.40350877 3.73451327 4.14645309
 4.05555556 4.55932203 4.14814815 4.13574661 3.91585366 4.5952381
 4.56410256 4.51351351 4.17073171 3.73059654 4.525      4.0777027
 3.76388889 3.76875    3.71428571 4.46666667 4.04255319 3.91002415
 3.81701031 4.81481481 3.87099425 3.8957476  4.33333333 3.83928571
 4.1318408  3.76252723 3.84318766 4.01106771 3.81549815 4.27651515
 4.13661202 4.4516129  3.87563452 3.89030612 3.94602273 4.17857143
 4.09473684 4.42424242 4.28148148 4.00341297 4.18367347 4.35793358
 3.81651376 3.82352941 4.27083333 3.88571429 3.92841649 4.09580838
 3.69938017 3.87242798 3.82178218 4.50283126 4.08366534 4.0941337
 3.72289157 4.79166667 4.44186047 4.47222222 3.85       3.8125
 3.86440678 4.175      4.18411552 3.88718412 3.82861635 4.33333333
 4.35211268 3.8115942  4.0443038  4.28458498 3.47032967 4.0528169
 4.86363636 4.21126761 4.7826087  4.48571429 4.23298033 4.20858896
 3.945      4.12217195 3.84742268 3.77099237 4.09836066 4.39622642
 4.37209302 4.86666667 4.29767442 3.9904014  3.79166667 3.92592593
 4.2967033  4.06779661 3.89175258 4.27946128 4.04191617 3.77884615
 4.46       3.94182825 4.25       4.20408163 4.84848485 3.95523906
 4.25287356 4.51111111 3.96428571 4.09462711 4.49206349 3.69093407
 3.93544531 3.81074627 3.99013158 3.82878788 3.94047619 4.08143322
 4.05405405 4.24137931 4.35652174 4.12794613 3.92964824 4.11009174
 4.4        3.83454988 4.34805195 4.13420622 4.29328622 3.84177215
 3.8677686  4.07513812 3.78413524 3.97520661 3.99145299 4.26056338
 4.29411765 4.02222222 3.73449132 3.92105263 4.28169014 3.91119691
 3.93436293 3.92966361 3.86078886 4.41       4.09195402 4.13645621
 3.98181818 4.21238938 3.87637363 3.96240602 4.45884413 4.34482759
 4.22968198 4.25889968 4.1627907  4.13207547 3.9070632  4.27
 4.05732484 3.87890625 3.75581395 4.58333333 4.51724138 4.3647541
 4.2556391  3.82719547 3.58878505 3.90551181 4.36290323 4.57037037
 4.73333333 4.01782531 3.96835443 3.90940767 4.18055556 3.95522388
 3.82014988 4.3814433  3.79490806 3.73777463 4.14       3.95
 4.08108108 4.33018868 3.99145299 4.09961686 4.11463845 3.73877551
 3.7403599  4.21193416 4.09477124 4.171875   3.83252427]

In [27]:
# Sparse matrix u2i with star ratings
dataset.rated_graph_u2i.toarray()

array([[3, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [11]:
# Access the rating of reviewer id 97930 for item 349
dataset.rated_graph_u2i[dataset.reviewer_to_index[97930], dataset.item_to_index[349]]

5

In [9]:
# Sparse matrix u2i with binary values (1 if user u rated item i, 0 otherwise)
dataset.graph_u2i

<160225x923 sparse matrix of type '<class 'numpy.float64'>'
	with 359052 stored elements in Compressed Sparse Row format>

In [15]:
# Get all ratings of every user
dataset.metadata_df.groupby(dataset.METADATA_USER_ID)[dataset.METADATA_STAR_RATING].apply(list)

Reviewer_id
923       [3, 5, 4, 4, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 4, ...
924                                                     [3]
925                                                  [4, 4]
926                                                     [4]
927                                         [4, 2, 3, 4, 5]
                                ...
161143                                                  [5]
161144                                                  [5]
161145                                                  [5]
161146                                                  [5]
161147                                                  [5]
Name: Rating, Length: 160225, dtype: object